@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@layer base {

  html,
  body {
    overscroll-behavior: none;
    background-color: #111;
    /* match your app bg */
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #15803d;
  /* Green-700 */
  border-radius: 10px;
  border: 2px solid #111;
  /* Adds spacing around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #166534;
  /* Green-800 */
}